

<footer class="footer">
  <div class=" px-5 ">
    <div class="row justify-content-around">

      <div class="col-md-3 col-sm-6 col-12 footerColumnPadding">
      <div class="footer-widget">
        <h3>Quick Links</h3>
        <div class="footer-widget-content ">
          <div class="images-gellary">
            <ul>
              <li><a href="/"><strong>Home</strong></a></li>
              <li><a href="/about"><strong>About us</strong></a></li>
              <li><a href="/life-at-niemh"><strong>Life-at-niemh</strong></a></li>
              <li><a href="/login"><strong>Login</strong></a></li>
              <li><a href="#contact"><strong>Contact us</strong></a></li>

            </ul>
          </div>
        </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-6 col-12 footerColumnPadding">
      <div class="footer-widget">
        <h3>About Us</h3>
        <div class="footer-widget-content">
          <p> We provide all the modern amenities to students for a comfortable stay at the campus and have a strict anti-ragging policy and does not tolerate any action that endangers the well-being of students.

        </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 footerColumnPadding rightAlign">
      <div class="footer-widget">
        <h3>Office Hours</h3>
        <div class="footer-widget-content">
        <div class="open-time ">
          <ul class="opening-time">

            <li><p><strong>Mon-Fri :</strong> 10am - 5pm</p></li>
            <li><p><strong>Sat-Sun :</strong> 10am - 1pm</p></li>
            <li><p><strong>Holidays :</strong> Do call us</p></li>
          </ul>
           </div>
        </div>
        </div>
      </div>

      <div class="col-md-3  col-sm-6 col-12 rightAlign footerColumnPadding">
        <div class="footer-widget">
          <h3>Social media</h3>
          <div class="footer-widget-content">
            <!-- <a href="mailto:shilpamokshanand814@gmail.com" class="contact-link">shilpamokshanand814@gmail.com</a>
            <a href="tel:+91" class="contact-link"> 8147431346 </a> -->
             <div class="footer-social">
            <ul>
              <li><a href="https://www.instagram.com/nie_boys_hostel"><i class="fa fa-instagram"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
            </ul>
             </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="copyrights footerColumnPadding">
    <h4>©️-Copyrights 2022 NIE Mens Hostel | All Rights Reserved </h4>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



</body>
</html>
