<%- include("partials/header") -%>
    <section class="card-section">
        <!-- justify-content-around -->
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2">Life at NIE-MH</h1>
        <hr class="hr-life" />
        <br />

        <br />


        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="/images/adm1.jpg" class="card-img-top" alt="...">


                </div>
            </div>


            <!-- <div class="col">
                            <div class="card h-100">
                                <img src="/images/1.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/images/2.jpg" class="card-img-top" alt="...">
                            </div>
                        </div> -->
        </div>



    </section>
    <div>
        <h1 class="card1_heading">
            <center> HOSTEL ADMISSION</center>

        </h1>
        <hr class="hr-card">
        <p class="card1_para">
        <pre>

            ✅Students who are admitted to the Post Graduate Departments of Goa University shall be given ﬁrst priority for 
             admissions to the hostels.Research Scholars working in different R&D projects of University Departments, students 
             registered for Ph.D. Degree in Goa University shall be given hostel facility subject to availability of vacant rooms.
             Applications of such students are to be forwarded through the concerned Principal investigator/Supervising teacher 
             and the Head of the Department to the competent authority of the University.
            
            ✅Admissions to the Hostel and allocation of rooms to students shall be at the discretion of the competent authority
             of the University.
            
            ✅An application for hostel accommodation should be submitted to the Hostel Warden in the prescribed form (available
             with the information bulletin, website) with payment of Rs.25.00. The duly filled form should be submitted with:
            
            ✅One recent passport size and one identity card size photograph.
            
            ✅A copy of fee receipt from the University/College for the course for which admission has been secured.
            
            ✅Certiﬁcate of health from a competent medical authority as notiﬁed by the Hostel authority. Foreign students 
             should produce contagious diseases - AIDS free – certificate.
            
            ✅A Character Certificate from the previous institution where the student was studying.
            
            ✅Residence proof copy (Residence Certiﬁcate/Adhaar card).
            
            ✅Students who apply for admission to the Ladies’ Hostel shall submit a list of residential addresses and contact numbers
             of persons whom the student may visit or stay with when permission for 'night out' is obtained. This list should be signed by
            the parent(s).
            
            ✅For girl students seeking accommodation in the hostel, the local guardian/parent should meet the Warden when the student 
            occupies the room for the ﬁrst time.
            
            ✅Applications from new students should reach the office as per the notification issued by the Warden at the beginning of 
            the academic year. In case of registered Ph.D. student the hostel admission will be granted up to March (for those taking 
            admission in January) and up to September(for those taking admission in July) every year. However research scholars in 
            different R&D projects will be given hostel accommodation as and when they join the particular Department of the University
            subject to availability of rooms.
            
            ✅In case of PG students, admission will be granted for only one year at a time. Although every efforts will be made to 
            accommodate all eligible students in the Hostel, no student can rightfully claim automatic admission for the subsequent year. 
            However, in case of registered Ph.D. students/research scholars, admission to the subsequent year will be on the basis of the 
            satisfactory report of Department research committee forwarded by Head of the Department and by the Dean of the concerned
            faculty to the chief warden.
            
            ✅For re-admission, the application form, duly forwarded by the HOD and with a copy of Dept. fees challan, should reach the
             Warden's office when hostel admissions are notified
            
            ✅A student should occupy the room allotted to him/her within seven days, failing which admission to the hostel shall stand cancelled.
            
            ✅Students will be permitted to stay in the hostel for a maximum of five days after the last day of her/his final examination 
            or the semester,whichever is later. In special cases where a student is required to extend his/her stay at the hostel till
            31st May, a request for extension substantiated with valid reasons. shall be forwarded through the HOD for consideration 
            of the Warden. Those who are overstaying will be charged at the rate of Rs. 50/- per day and this to be paid vide bank challan.
            
            ✅Contact Women's Hostel office for more details at womenshostel@unigoa.ac.in
            
            ✅Contact Men's Hostel office for more details at guhostel@unigoa.ac.in
            
            </pre>

        </p>
    </div>
    <!-- Contact -->

    <section id="contact" class="contact-header">
        <div class="contact-heading-column">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2">Contact Us</h1>
            <hr class="hr-contact">
        </div>
    </section>
    <section class="text-gray-700 body-font relative">
        <div class="absolute inset-0 bg-gray-300">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.462033903915!2d76.63827001473304!3d12.284641091309112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf65ad2fed2a99%3A0xd0de92c5210711bd!2sNIE%20Men&#39;s%20Hostel!5e0!3m2!1sen!2sin!4v1655926882311!5m2!1sen!2sin"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container px-5 py-24 mx-auto flex">
            <div
                class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10">


                <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Contact Us </h2>
                <p class="leading-relaxed mb-5 text-gray-600"> Ph- 9886681489 <br>
                    mahendrachennaiah@nie.ac.in</p>
                <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Visit Us</h2>
                <p class="leading-relaxed mb-5 text-gray-600">
                    Dr BR Ambedkar Rd<br />
                    Kuvempu Nagar 2nd Stage<br />
                    Ashokapuram, Visveshwara Nagar<br />
                    Mysuru , Karnataka 570008</p>


            </div>
        </div>
    </section>

    <%- include("partials/footer") -%>